.edison {
    background-image: url("../img/edison.jpg");
}

.grace {
    background-image: url("../img/grace.jpg");
}

.tom {
    background-image: url("../img/tomjr.jpg");
}

.gloria {
    background-image: url("../img/gloria.jpg");
}

.vera {
    background-image: url("../img/vera.jpg");
}

.bill {
    background-image: url("../img/bill.jpg");
}

.liz {
    background-image: url("../img/liz.jpg");
}

.chuck {
    background-image: url("../img/chuck.jpg");
}

.ginger {
    background-image: url("../img/ginger.jpg");
}

.mrshenson {
    background-image: url("../img/mrshenson.jpg");
}

.martha {
    background-image: url("../img/martha.jpg");
}

.olivia {
    background-image: url("../img/olivia.jpg");
}

.mrhenson {
    background-image: url("../img/mrhenson.jpg");
}

.june {
    background-image: url("../img/june.jpg");
}
