<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter</title>
    <link rel="stylesheet" href="css/main_menu.css">
</head>
<body>
    <form method="post">
    <div id="main-menu">
        <div id="not-grace">
            <table>
                <tr>
                    <td></td>
                    <td><button name="username" value="Thomas Edison Jr." class="col2"></button></td>
                    <td><button name="username" value="Thomas Edison" class="col3"></button></td>
                    <td></td>
                </tr>
                <tr>
                    <td><button name="username" value="Ma Ginger" class="col1"></button></td>
                    <td><button name="username" value="Gloria" class="col2"></button></td>
                    <td><button name="username" value="Olivia" class="col3"></button></td>
                    <td><button name="username" value="June" class="col4"></button></td>
                </tr>
                <tr>
                    <td><button name="username" value="Mr. Henson" class="col1"></button></td>
                    <td><button name="username" value="Mrs. Henson" class="col2"></button></td>
                    <td><button name="username" value="Bill Henson" class="col3"></button></td>
                    <td><button name="username" value="Liz Henson" class="col4"></button></td>
                </tr>
                <tr>
                    <td><button name="username" value="Chuck" class="col1"></button></td>
                    <td><button name="username" value="Vera" class="col2"></button></td>
                    <td></td>
                    <td><button name="username" value="Martha" class="col4"></button></td>
                </tr>
            </table>
        </div>
        <div id="grace">
            <button name="username" value="Grace" id="grace-button"></button>
        </div>
    </div>
    </form>
</body>
</html>